.pagination {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 20px;
  // margin-top: 20px;
  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      line-height: 43px;
      border-radius: 30px;
      border: 1px solid #fe5f1e;
      width: 45px;
      height: 45px;
      margin-right: 10px;
      cursor: pointer;
      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
