.cart {
  background-color: #fe5f1e;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  flex-shrink: 0;

  @media (max-width: 477px) {
    margin-top: 20px;
  }
}

.cartLink {
  display: flex;
  align-items: center;
  color: white;
}

.price {
  font-weight: 700;
}

.divider {
  height: 25px;
  margin: 0 13px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.cartIcon {
  margin-right: 8px;
}

.count {
  font-weight: 700;
}
