.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categoryList {
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
}

.categoriesBtn {
  border-radius: 30px;
  padding: 15px 30px;
  border: none;
  background-color: #f9f9f9;
  font-weight: 700;
  cursor: pointer;
  color: #2c2c2c;
}

.active {
  background-color: #282828;
  color: white;
}
