.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-bottom: 40px; // расстояние ДО линии (как раньше hr + margin-bottom)
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); // вместо hr (opacity 20%)

  @media (max-width: 477px) {
    flex-direction: column;
  }
}

.leftHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
