* {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  background-color: #ffdf8c;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.wrapper {
  padding: 45px;
  min-height: 100vh;

  @media (max-width: 477px) {
    padding: 10px;
  }
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.content {
  background: #fff;
  border-radius: 10px;
  padding: 50px 60px;
}

.cards {
  display: grid;
  column-gap: 33px;
  row-gap: 65px;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, 280px);
}

@media (max-width: 1441px) {
  .cards {
    justify-content: center;
  }
}
