* {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: #ffdf8c;
  padding: 45px;
  height: 100vh;
}

.container {
  background-color: #ffff;
  border-radius: 10px;
  padding: 50px 60px;
}
